* {
    margin: 0;
}
html {
    background-color: #d2ffce;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    border-bottom: 4px solid black;
    width: 100%;
    height: 70px;
    text-align: center;
    padding-top: 30px;
}

main {
    display: flex;
}

.left {
    margin-top: 4px;
    border-top: 4px solid black;
    border-right: 4px solid black;
    width: 50%;
    height: 796px;
}

.left article {
    margin: auto;
    margin-top: 50px;
    background-color: #26991d;
    width: 70%;
    height: 40%;
    border: 1px solid #124416;
    border-radius: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left article span, .right article span {
    font-size: xx-large;
    margin-bottom: 10px;
}

.left article ul, .right article ul {
    list-style: none;
    padding-left: 0;
    font-size: large;
    margin-bottom: 10px;
}

#hAnnounce, #mAnnounce {
    margin: 20px auto;
    text-align: center;
    font-size: large;
    background-color: #26991d;
    width: 50%;
    line-height: 40px
}

.right {
    margin-top: 4px;
    border-top: 4px solid black;
    border-left: 4px solid black;
    width: 50%;
    height: 796px;
    margin-left: 4px;
}

.right article {
    margin: auto;
    margin-top: 50px;
    background-color: #b91b1b;
    width: 70%;
    height: 40%;
    border: 1px solid #520606;
    border-radius: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mAnnounce {
    background-color: #b91b1b;
}